<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MariaDbConnection"
             connectionString="Server=82.14.61.15;Database=time_warden;User ID=root;Password=very-secure;SslMode=none;"
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>